:root {

    /*
      * Layout
      *
      * Sizes */
    --header-height: 80px;
  
    --sidemenu-width: 200px;
    --sidemenu-width-collapsed: 60px;
  
  
  
    /*
      * Styling
      *
      * Colors */
  
    // Variables
    --light-color: rgb(230, 230, 230);
    --medium-color: rgb(180, 180, 180);
    --dark-color: rgb(120, 120, 120);
    --highlight-color: white;
    --menu-text-color: black;
  
    --content-background-color: var(--light-color);
    --border-color: var(--dark-color);
    
  
  }
  